.logo img{
    margin-left: 30px;
    margin-top: 60px;
    height: 100px;
}
.sidenav {
    position: fixed;
    width: 400px;
    height: 600px;
    z-index: 1;
    top: 200px;
    left: 30px;
    overflow-x: hidden;
    background-color: white;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    color: black;
}

.sidenav a:hover {
    color: #064579;
    font-size: 1.2em;
    font-weight: bold;
    
}

.sidenav h4{
    margin-left: 16px;
    margin-bottom: 25px;
}

footer{
    margin-top: 20px;
    margin-left: 16px;
    color: lightgrey;
}

#img1{
    width: 500px;
    height: 600px;
    margin-top: 20px;
    background-color: white;

}

.img-group{
    width: 100%;
    height: 730px;
}

.img {
    width: 600px;
    height: 600px;
    margin-top: 20px;
    background-color: rgb(241, 252, 129);
    white-space: nowrap;
    display: inline-block;
}

.img-scroll{
    float: right;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    z-index: -1;
}

